<h2>안녕하세요 <%=@resource.name %>님!</h2>
<p>(<%= @resource.email %>)</p>
<br>
<p>아래 링크를 이용하여 비밀번호를 변경해주세요.</p>
<br>
<p><%= link_to '비밀번호변경', edit_password_url(@resource, reset_password_token: @token) %></p>

<br>

<h3>- 성균관 대학교 강의평가 SKK:LAB -</h3>