<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 환영합니다! LIKELION at SKKU </title>
    <link rel="icon" type="image/ico" href="/image/favicon.png"/>
</head>

<body>
    <h1>프로그래밍에 관심이 있다</h1>
    <h2>만들고 싶은 웹서비스가 있다</h2>
    <h3>전공 밖의 세상을 경험하고 싶다</h3>
    <h4>멋쟁이가 되고 싶다</h4>
    <h5>하나라도 해당이 되신다면</h5>
    <h6>멋쟁이사자처럼에 지원하세요.</h6>

<p> 지원서 양식 </p>
<p> 아래의 내용을 지원서에 꼭 포함해 주세요 </p>
<p> 1. 전공 </p>
<p> 2. 나이</p>
<p> 3. 이름</p>
<p> 4. 연속 2학기 활동 가능여부 (16년 1학기와 2학기)</p>
<p> 5. 팀장 지원여부</p>
<p> 팀장들은 멋사 성균관대학교 운영진들과 함께 주도적으로 활동을 이끌어 나갑니다.</p>
<p> 팀장으로 지원하시더라도 일반 부원으로 합격되실 수 있습니다.</p>
<p> 6. 자기 소개 및 만들고 싶은 웹 서비스</p>
<p> 1번 항목부터 5번 항목까지는 지원서 마지막 장에 첨부해주시기 바랍니다.</p>
<p> 이외에 형식은 자유입니다.</p>
<a> 지원하러 가기</a>

</body>
