<form action="/system/finding_test_result" method = "get">

    <div class="subjects2-search">
        <input type="text" id="subjects2-search-txt" name="searching" autofocus>
        <div class="results" id="subjects2-search-results"></div>
    </div>
    <br>
    <button class="btn tf-btn btn-default"> 검색 </button>
</form>
    
